body{
  text-align: center;
}

img{
  width: 150px;
}

h3{
  font-family: 'Open Sans', sans-serif;
  color: black;
}

a{
  background: #232323;
  padding: 20px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  width: 500px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  border: 2px solid #232323;
  display: inline-block;
  transition: 0.25s;
}

a:hover{
  background: white;
  color: #232323;
}
